<ion-popover-view>
	<ion-header-bar>
		<h1 class="title">Nuevos Mensajes</h1>
	</ion-header-bar>
	<ion-content>
		<div class="list" ng-if="messages.length == 0">
			<span class="animate-if">
  				No tiene nuevos mensajes
			</span>
		</div>
		<div ng-if="messages.length > 0" class="list" ng-repeat="message in messages">
			<a class="item" href="#/route/message/detail/{{message.id}}">
				<!--<img src="img/men.jpg">-->
				<h2>{{message.titulo}}</h2>
				<h6>{{message.contenido}} !</h6>
			</a>
		</div>
	</ion-content>
	<ion-footer-bar class="bar-assertive">
		<button class="button button-light pull-right" ng-click="closeAlerts($event)">Cerrar</button>
		<button class="button button-light pull-left" ng-click="showMessages($event)">Ir a bandeja</button>
	</ion-footer-bar>
</ion-popover-view>