<ion-view title="Dashboard">
	<ion-tabs animation="nav-title-slide-ios7">
		<ion-tab href="#/route/dashboard/home">
			<ion-nav-view name="home-tab"></ion-nav-view>
		</ion-tab>
	</ion-tabs>
</ion-view>