<ion-view title="Historias de Éxito" animation="slide-left-right" ng-controller="casesCtrl as vm">
	<ion-content>
		<ion-refresher pulling-text="Hale para refrescar ..." on-refresh="vm.loadCases(true)">
		</ion-refresher>
		<div class="padding-horizontal">	
			<h4></h4>
		</div>

      	<ion-list>
	        <div ng-repeat="case in vm.cases">
	          <div class="card">
	          	<div class="item-text-wrap">
					<a class="item item-thumbnail-left">
						<img class="img-list" ng-src="{{case.image}}" />
					    <h2 class="list-title"> {{case.title}} <span class="item-note"> </span></h2>
					    <p>{{case.published_at}} <br> {{case.description}}<span class="item-note"></span></p>
					    <div>
							<button class="button button-small button-light" on-tap="vm.browse(case.url)">Ver Historia Completa</button>
					  	</div>
					</a>
				</div>
			  </div>
	        </div>
	     </ion-list>

		<div class="clearfix"></div>
	</ion-content>
</ion-view>