<ion-view style="background-color:white !important;"  title="Puntos de Atención" animation="slide-left-right" ng-controller="pointsCtrl as vm">
	<ion-content>
		<br />
		<div class="list">
		<strong class="map-select-list">Seleccione Departamento</strong>
		<select class="ng-pristine transparent-select map-select-list ng-valid" ng-change="vm.getCities()" ng-model="vm.country" ng-options="state as state.region_name for state in vm.states">
		</select>
		<br />
		<strong class="map-select-list">Seleccione Municipio</strong>
		<select class="ng-pristine transparent-select map-select-list ng-valid" ng-change="vm.getNearestPoint()" ng-model="vm.city" ng-options="city as city.city_name for city in vm.cities">
		</select>
		</div>
		<ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom' draggable="true">
		 	<ui-gmap-markers models="vm.map.markers" click="'vm.onClick'"  coords="'self'" options="'options'" isLabel="true">
		 	 <ui-gmap-windows show="true" >
                  <div ng-non-bindable>{{options.content}}</div>
              </ui-gmap-windows>
    		</ui-gmap-markers>
		</ui-gmap-google-map>
		<div class="clearfix"></div>
	</ion-content>
</ion-view>