<ion-view title="Detalle Pregunta" animation="slide-left-right" ng-controller="FaqsDetailCtrl as vm">
	<ion-content>
		<div class="padding-horizontal">	
			<h4></h4>
		</div>

	  	<div class="list card">
		  	<div class="item-text-wrap">
			  	<div class="item item-avatar">
			    	<img class="imgFaqs" src="/img/question.png">
			    	<strong>{{ vm.question }}</strong>
			  	</div>
			</div>
			<div class="item item-body">
				<img class="full-image" src="/img/faq.jpeg">
			    <p>{{ vm.answer }}</p>
			</div>
		</div>

		<div class="clearfix"></div>
	</ion-content>
</ion-view>