<ion-view title="Preguntas Frecuentes" animation="slide-left-right" ng-controller="FaqsCtrl as vm">
	<ion-content>
		<ion-refresher pulling-text="Hale para refrescar ..." on-refresh="vm.loadFaqsList(true)">
		</ion-refresher>
		<div class="padding-horizontal">	
			<h4></h4>
		</div>

		<ion-list>
	        <div ng-repeat="faq in vm.faqs">
	          	<div class="card" on-tap="menuTap(vm.url, faq.pregunta, faq.respuesta)">
	          		<div class="item-text-wrap">
	          			<div class="item item-avatar item-icon-right">
							<img class="imgFaqs" src="/img/question.png">
							{{ faq.pregunta }}
							<i class="icon ion-chevron-right assertive"></i>
						</div>
	          		</div>
			  	</div>
	        </div>
	    </ion-list>

		<div class="clearfix"></div>
	</ion-content>
</ion-view>