<ion-view title="Bandeja de Mensajes" style="background-color:white !important;" ng-controller="messagesCtrl as vm">	
	<ion-content>
		<ion-refresher pulling-text="Hale para refrescar ..." on-refresh="vm.loadInboxMessages(true)">
		</ion-refresher>
		<div class="padding-horizontal">	
			<h4>Mensajes Recibidos</h4>
		</div>
      	<ion-list>
      		<div ng-repeat="message in vm.inboxMessages">
	          <div class="card">
	          	<div class="item-text-wrap">
					<a class="item item-thumbnail-left" ng-class="message.fueLeido == true ? 'active' : 'not' " href="#/route/message/detail/{{message.id}}/{{message.emisor}}">
						<img src="img/inbox.png">
					    <h2>De: {{message.emisor}} <span class="item-note"> </span></h2>
					    <h2>{{message.titulo}}<span class="item-note"></span></h2>
					    <div>
						 	<p>{{message.contenido}}</p>
					  	</div>
					  	<br>
					  	  <div>
					  	</div>
					</a>
				</div>
			  </div>
	        </div>
	     </ion-list>

		<div class="clearfix"></div>
	</ion-content>
</ion-view>