<ion-view title="Bandeja de Mensajes" ng-controller="messagesCtrl as vm">	
	<ion-content>
		<ion-refresher pulling-text="Hale para refrescar ..." on-refresh="vm.loadInboxMessages(true)">
		</ion-refresher>
		<div class="padding-horizontal">	
			<h4>Mensajes Enviados</h4>
		</div>
      	<ion-list>
	        <div ng-repeat="message in vm.outboxMessages">
	          <div class="card">
	          	<div class="item-text-wrap">
					<a class="item item-thumbnail-left">
						<img src="img/inbox.png">
					    <h2>Para: {{message.receptor}} <span class="item-note"> </span></h2>
					    <h2>{{message.titulo}}<span class="item-note"></span></h2>
					    <div>
						 	<p>{{message.contenido}}</p>
					  	</div>
					  	<br>
					</a>
				</div>
			  </div>
	        </div>
	     </ion-list>

		<div class="clearfix"></div>
	</ion-content>
</ion-view>