<ion-view title="Bandeja de Mensajes" ng-controller="sendMessageCtrl as vm">	
	<ion-content>
		<div class="padding-horizontal">	
			<h4></h4>
		</div>
		<form name="addActionForm" ng-init="setFormScope(this)" data-ng-submit="vm.sendMessage()">
			<div class="list" style="background:#ffffff;">
				<div class="item item-divider">
				Nuevo Mensaje
				</div>
				<label class="item item-input item-select">
					<div class="input-label">
					Receptor
					</div>
					<select ng-if="vm.role == 0" ng-model="vm.dataMessage.receptor" ng-options="(user.PrimerNombre+' '+ user.SegundoNombre+' '+user.PrimerApellido) for user in vm.users track by user.ID"required>
					</select>
					
					<select ng-if="vm.role == 1" ng-model="vm.dataMessage.receptor" ng-options="(item.NombreCompleto) for item in vm.professionals track by item.ID" required>
					</select>

				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Título</span>
					<input type="text" ng-model="vm.dataMessage.title" required>
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Contenido</span>
					<input type="text" ng-model="vm.dataMessage.content" required>  
				</label>
			</div>
			<div class="padding">
				<button class="button button-assertive icon-right" ng-disabled="addActionForm.$invalid">
					Enviar Mensaje
				</button>
			</div>
		</form>
		<div class="clearfix"></div>
	</ion-content>
</ion-view>