<ion-view title="Acerca De" animation="slide-left-right">
	<ion-content>
		<div class="item item-divider">
          Reintegrapp es una aplicación de
        </div>
		
		<div class="card">
		  	<div class="item item-body">
		  		<div class="row">
			  		<div class="col"><img src="img/logo.png"></div>
				</div>
		  	</div>
		</div>

		<div class="item item-divider">
          Con el apoyo de
        </div>

		<div class="card">
			<div class="item item-body">
				<div class="row">
					<div class="col"><img class="full-image" src="img/mintic-logo.png"></div>
					<div class="col"><img class="full-image" src="img/prosperidad_para_todos.png"></div>
				</div>
			</div>
		</div>
		
		<div class="item item-divider">
          Equipo técnico
        </div>
		
		<div class="list">
		  	<a class="item item-icon-left">
		    	<i class="icon ion-person"></i>
		    	Tito Peralta Benitez
		  	</a>
		  	<div class="item item-divider">
          		Equipo de desarrollo
        	</div>
        	<a class="item item-icon-left">
		    	<i class="icon ion-person"></i>
		    	John Eduard Lopez
		  	</a>
		  	<a class="item item-icon-left">
		    	<i class="icon ion-person"></i>
		    	Jorge Steven Muñoz
		  	</a>
		  	<a class="item item-icon-left">
		    	<i class="icon ion-person"></i>
		    	Cristian Camilo Montes
		  	</a>
		</div>

		<div id="divMargin" class="clearfix"></div>
	</ion-content>
</ion-view>