<ion-view title="Reintegrapp" ng-controller="HomeCtrl as vm">	
	<ion-content>
		<div class="clearfix"></div>
		<div class="padding menu-label">
			Slider
		</div>
		<div class="clearfix"></div>
	</ion-content>
</ion-view>