<style type="text/css">
	.buttonDiagnostic {
		background-color:#ce6e18 !important;
		border-color:#ce6e18 !important;
	}

	.cardStyle {
		background-color:#ce6e18;
		border-color:#ce6e18;
		color:white;
	}
</style>
<ion-view title="Reintegrapp" ng-controller="DiagnosticCtrl as vm">	
	<ion-content>
		<ion-refresher pulling-text="Hale para refrescar ..." on-refresh="vm.getDiagnostic(true)">
		</ion-refresher>
		<div class="padding-horizontal">	
			<h4>Diagnóstico Víal</h4>
		</div>

		<div class="card">
			<div class="item item-text-wrap cardStyle">
				Estas listo para viajar? realiza el siguiente diagnóstico para determinar si tienes todo lo necesario para salir.
			</div>
		</div>

      	<ul class="list" ng-repeat="diag in vm.listDiagnostic">
		 	<li class="item item-checkbox item-text-wrap">
		    	<label class="checkbox">
		    		<input type="checkbox">
		    	</label>
		    	{{ diag.text }}
			</li>
		</ul>

		<div class="row">
			<div class="col">
				<button class="button icon-left ion-clipboard button-positive buttonDiagnostic" id="btnDiagnostic" on-tap="menuTap(vm.url)" disabled>Obtener diagnóstico</button>
			</div>
		</div>
		<div class="row">
			<div class="col">
			</div>
		</div>
		<div class="row">
			<div class="col">
			</div>
		</div>

		<div class="clearfix"></div>
	</ion-content>
</ion-view>