<style type="text/css">
    .spanFloat {
        float: right;
    }

    .imgSchedule {
        border-radius: 50% !important;
        top: 6px !important;
    }

    #progress {
        border: 1px solid black;
        position: relative;
        padding: 0px;
        border-radius: 10px;
        background-color: #A9A9A9;
    }

    #percent {
        position: absolute;
        left: 45%;
        font-size: 15px;
        color: white;
    }

    #bar {
        height: 18px;
        background-color: #145fd7;
        width: 50%;
        border-radius: 10px;
    }

    .divSeparator {
        padding-top:10px;
    }
</style>
<ion-view title="Reintegrapp" ng-controller="DtlDiagnosticCtrl as vm">	
	<ion-content>
		<ion-refresher pulling-text="Hale para refrescar ..." on-refresh="">
		</ion-refresher>
		<div class="padding-horizontal">	
			<h4>Resultado Diagnóstico</h4>
		</div>

		<div class="list card">

            <div class="item">
                LISTO PARA VIAJAR<span class="spanFloat">40%</span>
                <div class="divSeparator">
                    <span><div id="progress"><span id="percent"></span><div id="bar"></div></div></span>
                </div>
            </div>

            <div class="item item-body">
    		    <img class="full-image" src="img/accidente.jpg">
    		    <p>
                    Recuerde revisar el estado mecánico de su vehículo, sino lo ha hecho lo mejor es que no viaje,
                    la mayor parte de los accidentes ocurren por mal estado, poca capacidad de respuesta
                    o desgaste en los componentes de este.
    		    </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left"></div>

		</div>

		<div class="clearfix"></div>
	</ion-content>
</ion-view>