<ion-view title="Intro" ng-controller="IntroCtrl as vm">
	<ion-content padding="false">
		<ion-slide-box ng-init="vm.initSlider()" id="intro-slide-box" show-pager="false">
			<ion-slide>
				<div class="row">
					<div class="text-center col col-center intro-div-slidebox">
						<h4 class="light light-header">Bienvenidos</h4>
						<h3 class="light light-header-sub">Iniciar Sesión</h4>
							<div class="list">
								<div class="padding-bottom">
									<button class="button icon-right button-intro-light" ng-click="vm.saveRole(0)">
										 <span class="font-family-default">Ingresar como Funcionario</span>
									 </button>
								</div>
								<div class="padding-bottom">
									 <button class="button icon-right button-intro-light" ng-click="vm.saveRole(1)">
										 <span class="font-family-default">Ingresar como PPR</span>
									 </button>
								</div>
								<div class="padding-bottom">
									 <button class="button icon-right button-intro-light" ng-click="vm.saveRole(2)">
										 <span class="font-family-default">Ingresar como Ciudadano</span>
									 </button>
								</div>
							</div>
							<div class="padding-bottom">
								  <button ng-click="vm.openRegisterForm('Ppr')" class="button button-assertive icon-right" style="margin-bottom:10px;">
									 <span class="font-family-default">Registrarse como PPR</span>
								  </button>
								   <button ng-click="vm.openRegisterForm('Ciudadano')" class="button button-assertive icon-right">
									 <span class="font-family-default">Registrarse como Ciudadano</span>
								  </button>
       						</div>
					</div>
					<div style="height:100vh;"></div>
				</div>
			</ion-slide>

			<ion-slide>
				<div class="row">
					<div class="text-center col col-center intro-div-slidebox">
						<h4 class="light light-header">Iniciar Sesión</h4>
						<form name="form" ng-submit="vm.login()" role="form">
							<div class="list">
								<label class="item item-input">
									<span class="input-label" style="padding-right: 32px;">Usuario</span>
									<input type="text" ng-model="vm.username" required>
								</label>
								<label class="item item-input">
									<span class="input-label">Contraseña</span>
									<input type="password" ng-model="vm.password" required>
								</label>
							</label>
							</div>
							<div class="padding-bottom">
								  <button type="submit" ng-disabled="form.$invalid" class="button button-assertive icon-right ion-ios7-arrow-right">
									 <span class="font-family-default">Ingresar</span>
								  </button>
       						</div>
						</form>
						<!--<div class="text-center">
							<p><button ng-click="vm.showRegister()" ng-if="vm.role == 1 || vm.role == 2" class="button button-clear button-light">Registrarse ?</button></p>
						</div>-->
					</div>
					<div style="height:100vh;"></div>
				</div>
			</ion-slide>		
		</ion-slide-box>
	</ion-content>
</ion-view>